@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Light Theme */
:root {
  --background: #f0f1f0;
  --foreground: #141619;

  --color-primary: #7c3aed;
  --color-surface: #e4e4e4;
  --color-surface-light: #b3b4bd;
  --color-surface-dark: #2c2e3a;
  --color-hover: #6d38eb;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;

  --color-primary: #7c3aed;
  --color-surface: #1a1a1a;
  --color-surface-light: #2b2b2b;
  --color-hover: #6b41cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-surface: var(--color-surface);
  --color-hover: var(--color-hover);
  --color-surface-light: var(--color-surface-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background 300ms ease,
    color 300ms ease;
  background-image: radial-gradient(
    var(--color-surface-light) 1px,
    transparent 0
  );
  background-size: 60px 60px;
  background-position: -19px -19px;
}

.nav-link {
  font-family: var(--font-inter);
  font-size: 1.2rem;
}

[data-theme="light"] {
  .nav-link:hover {
    color: var(--color-hover);
  }

  .nav-link {
    transition: cubic-bezier();
    transition-duration: 350ms;
  }
}

[data-theme="dark"] {
  .nav-link:hover {
    color: var(--color-hover);
  }
}

.theme-switch {
  background-color: var(--color-surface-light);
  position: relative;
  width: 2.75rem;
  height: 1.5rem;
  border-radius: 9999px;
  transition: background-color 250ms ease;

  /* slider */
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    inset-inline-start: 2px;
    height: 1.25rem;
    width: 1.25rem;
    transition: all 250ms ease;
    background-color: white;
    border-radius: 100%;
  }

  /* Dark mode */
  input:checked + & {
    background-color: var(--color-primary);
  }
}
